@page
@model UPCI.Portal.Pages.HomeModel
@{
    ViewData["Title"] = "Home page";
    Layout = "_Layout";
}
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1> @ViewData["Title"]</h1>
            </div>
            <div class="col-sm-6">
                @*<ol class="breadcrumb float-sm-right">
                @foreach (var item in Model.PageUrl.Split('/'))
                {
                if (!String.IsNullOrEmpty(@item))
                {
                <li class="breadcrumb-item">@item</li>
                }
                }
                </ol>*@
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid text-sm" id="HomeController" autocomplete="off">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <div class="info-box">
                    <span class="info-box-icon bg-info elevation-1"><i class="fas fa-child"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text text-md">Children</span>
                        <h2 class="info-box-number">
                            10
                        </h2>
                    </div> 
                </div> 
            </div> 
            <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-primary elevation-1"><i class="fas fa-person"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text text-md">Youth</span>
                        <h2 class="info-box-number">
                            10
                        </h2>
                    </div> 
                </div> 
            </div> 
            <div class="clearfix hidden-md-up"></div>

            <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-success elevation-1"><i class="fas fa-person-walking-luggage"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text text-md">Adult</span>
                        <h2 class="info-box-number">
                            10
                        </h2>
                    </div> 
                </div> 
            </div> 
            <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-secondary elevation-1"><i class="fas fa-person-cane"></i></span> 

                    <div class="info-box-content">
                        <span class="info-box-text text-md">Senior</span>
                        <h2 class="info-box-number">
                            10
                        </h2>
                    </div> 
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Active Members</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button> 
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="chart-responsive">
                                    <canvas id="pieChartActive" height="150"></canvas>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <ul class="chart-legend clearfix">
                                    <li><i class="fas fa-square text-success"></i> Active</li>
                                    <li><i class="fas fa-square text-danger"></i> Inactive</li> 
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Gender</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button> 
                        </div>
                    </div> 
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="chart-responsive">
                                    <canvas id="pieChartGender" height="150"></canvas>
                                </div> 
                            </div> 
                            <div class="col-md-4">
                                <ul class="chart-legend clearfix">
                                    <li><i class="fas fa-square text-primary"></i> Male</li>
                                    <li><i class="fas fa-square text-danger"></i> Female</li> 
                                </ul>
                            </div> 
                        </div> 
                    </div>  
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Involved to Cell Group</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button> 
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="chart-responsive">
                                    <canvas id="pieChartCell" height="150"></canvas>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <ul class="chart-legend clearfix">
                                    <li><i class="fas fa-square text-success"></i> Involved</li>
                                    <li><i class="fas fa-square text-danger"></i> Not involved</li> 
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Involved to Ministry</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button> 
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="chart-responsive">
                                    <canvas id="pieChartMinistry" height="150"></canvas>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <ul class="chart-legend clearfix">
                                    <li><i class="fas fa-square text-success"></i> Involved</li>
                                    <li><i class="fas fa-square text-danger"></i> Not involved</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 
<script src="~/lib/jquery-twbspagination/jquery.twbspagination.js"></script>
<script src="~/js/app/services/route.js?d=@DateTime.Now.ToString("yyyyMMddHHmmss")"></script> 
<script src="~/js/app/services/user.js?d=@DateTime.Now.ToString("yyyyMMddHHmmss")"></script> 
<script src="~/js/app/controllers/home.js?d=@DateTime.Now.ToString("yyyyMMddHHmmss")"></script>