<footer class="main-footer text-sm">
    <div class="row">
        <p class="text-dark">&copy; 2024 &nbsp;</p><strong><a href="https://www.upci.com/" class="text-success">UPCI </a>  </strong> <p class="text-dark"> &nbsp; All Rights Reserved </p>
    </div>
    
</footer>